html{
    /*BACKGROUND IMAGE SETTINGS*/
    background: url("images/ubc\ colored\ map.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /*END OF BACKGROUND IMAGE*/

    color:white;
    text-align: center;

}

.title{
    height:auto;
    max-width: 30%;
    align-items: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
}

@font-face {
    font-family: GraublauWeb;
    src: url("Fonts/whitneymedium.otf") format("opentype");
}



/*@font-face {
  font-family: 'Tangerine';
  font-style: normal;
  font-weight: normal;
  src: local('Tangerine'), url('http://example.com/tangerine.ttf') format('truetype');
}
body {
  font-family: 'Tangerine', serif;
  font-size: 48px;
}*/

.upload-btn{
    border-radius: 12px;
    background-color: #3c4ba5;
    color: white;
    padding: 20px 60px 20px 60px;
    font-size: 20px;
    border: none;

     /* cloud 1 */

    background: url(cloud.png);
}