@font-face {
  font-family: WhitneyMedium;
  src: url("Fonts/whitneymedium.otf") format("opentype");
}

@font-face {
  font-family: WhitneyLight;
  src: url("Fonts/whitneylight.otf") format("opentype");
}

body {
  /*BACKGROUND IMAGE SETTINGS*/
  background: url("images/ubc\ colored\ map.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /*END OF BACKGROUND IMAGE*/

  /*FOR THE TEXT*/
  color: white;
  text-align: center;
}

.title {
  height: auto;
  max-width: 30%;
  align-items: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
  filter: drop-shadow(0px 0px 25px #000000);
}

.container {
  font-family: WhitneyMedium;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
}

.cloud-icon {
  width: 40%;
  height: auto;
}

label {
  background-color: #002145;
  padding: 24px 100px;
  border-radius: 360px;
  border: none;
  filter: drop-shadow(0px 0px 25px #000000);
}

label:hover {
  transform: scale(1.1);
  background-color: #156c91;

}

.description {
  font-size: 23px;
  font-family: whitneylight;
}

.text {
  padding-bottom: 6vh;
}