@font-face {
  font-family: WhitneyMedium;
  src: url("assets/fonts/whitneymedium.otf") format("opentype");
}

@font-face {
  font-family: WhitneyLight;
  src: url("assets/fonts/whitneylight.otf") format("opentype");
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 0px;
  height: 100vh;
  text-align: center;
  background-image: url(~assets/images/ubc\ colored\ map.jpg);
}

.headerImage {
  width: 30vw;
  object-fit: contain;
  opacity: 100%;
  filter: drop-shadow(0px 4px 25px #000000);
}

.information {
  color: whitesmoke;

  h2 {
    font-family: WhitneyMedium;
  }

  p {
    font-family: WhitneyMedium;
  }
}