@import '~bootstrap/scss/bootstrap';

@font-face {
  font-family: WhitneyMedium;
  src: url("assets/fonts/whitneymedium.otf") format("opentype");
}

@font-face {
  font-family: WhitneyLight;
  src: url("assets/fonts/whitneylight.otf") format("opentype");
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 0px;
  height: 100vh;
  text-align: center;
  background-image: url(~assets/images/ubc\ colored\ map.jpg);
}

.headerImage {
  width: 30vw;
  object-fit: contain;
  opacity: 100%;
  filter: drop-shadow(0px 4px 25px #000000);
}

.uploadButton {
  background-color: #002145;
  border-radius: 360px;
  padding: 15px 120px;
  border: none;
  filter: drop-shadow(0px 0px 25px #000000);
}

.uploadButton:hover {
  transform: scale(1.03);
  background-color: #003064;
  filter: drop-shadow(0px 0px 25px #303030);
}

.journeys {
  color: red;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  outline: 5px dotted green;
  .Sun {
    outline: 5px dotted purple;
  }
  .Mon {
    outline: 5px dotted green;
  }
  .Tue {
    outline: 5px dotted red;
  }
  .Wed {
    outline: 5px dotted blue;
  }
  .Thu {
    outline: 5px dotted yellow;
  }
  .Fri {
    outline: 5px dotted orange;
  }
  .Sat {
    outline: 5px dotted brown;
  }
}

.information {
  color: whitesmoke;
  text-shadow: 2px 2px 10px #000000;

  h2 {
    font-family: WhitneyMedium;
  }

  p {
    font-family: WhitneyLight;
  }
}